<!DOCTYPE html>
<html>
<head>
  <title>Add New User</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/user">All Users</a>
    <a href="/user/new">Add User</a>
   </nav>
  <h1>Create New User</h1>
  <form action="/user" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required>
    <br><br>

    <label>Email:</label>
    <input type="email" name="email" required>
    <br><br>

    <label>Password:</label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit">Create User</button>
  </form>

 

</body>
</html>
